/* Mixins */
/*index abstracts*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

/* index base */
/* Design des boutons du site */
/* index components */
/* Design footer */
footer {
  background-color: #F8F7F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0px;
  margin-top: 100px;
}
footer ul {
  display: flex;
  margin-bottom: 20px;
}
footer ul a {
  text-decoration: none;
  color: black;
}
footer ul a:hover {
  color: #8D5BFF;
}
footer ul li {
  margin: 0px 5px;
  font-size: 18px;
  font-weight: 500;
}
footer p {
  font-size: 18px;
  font-weight: 300;
}

/* Design du header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 50px;
  width: calc(100% - 100px);
}
header nav {
  width: calc(77.6% - 100px);
  margin-left: 100px;
}
header nav ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 15px;
}
header nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 20px;
}
header nav ul li a:hover, header nav ul .select {
  color: #E88408;
  border-bottom: #E88408 solid 2px;
}

#panier {
  font-weight: 800;
  text-transform: uppercase;
  border: none;
}

#panier:hover {
  border-bottom: none;
}

.logo {
  width: 300px;
  height: 135px;
}

/* index layout */
/* Mise en forme de la page d'accueil */
aside {
  align-items: center;
  margin: 0px 50px;
}
aside .banniere {
  width: 100%;
  height: 330px;
  -o-object-fit: cover;
     object-fit: cover;
}
aside p {
  position: absolute;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  right: 175px;
  top: 186px;
}

section {
  margin: 20px 20px 20px 70px;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 90px);
}

section a {
  text-decoration: none;
  color: black;
  width: calc(33.33% - 70px);
  margin-right: 70px;
}

.produit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  position: relative;
}
.produit .title {
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #E0DCD9;
  width: 248px;
  padding: 10px 0px;
  top: -30px;
  text-align: center;
  position: absolute;
}
.produit .photo {
  width: calc(100% - 50px);
  -o-object-fit: cover;
     object-fit: cover;
  height: 290px;
}
.produit ul {
  display: flex;
  justify-content: flex-start;
  width: calc(100% - 50px);
}
.produit ul li {
  font-size: 14px;
  font-style: italic;
  font-weight: 800;
  text-transform: uppercase;
  padding: 7px;
  margin-right: 5px;
  margin-top: 10px;
  background-color: #E0DCD9;
  border-radius: 9px;
}
.produit .description {
  display: flex;
  width: calc(100% - 50px);
  align-items: center;
}
.produit .description__text {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  margin-right: 10px;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}
.produit .description__price {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 30px;
}

.produit:hover {
  transform: scale(1.01);
}
.produit:hover p, .produit:hover li {
  color: #8D5BFF;
}

.confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.confirmation h1 {
  font-size: 36px;
  font-weight: 800;
  margin: 20px 0px;
}
.confirmation p {
  font-size: 20px;
  font-weight: 400;
  margin: 0px 0px;
}

.payer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.totalPaiement {
  display: flex;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.totalPaiement h1 {
  font-weight: 800;
  margin-right: 20px;
}

.form {
  background-color: #E0DCD9;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 20px;
  font-style: italic;
}
.form .form-example {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr;
  margin: 30px;
}
.form .form-example label {
  margin-right: 20px;
}
.form .form-example input {
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-family: "Raleway", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

#button {
  grid-column: 1/3;
  justify-self: center;
  background-color: #8F5BFD;
  color: white;
  border-color: #8F5BFD;
  font-weight: 800;
  font-size: 15px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 9px;
  margin-top: 20px;
}

#button:hover {
  background-color: #B998FE;
  cursor: pointer;
}

.cvv input {
  width: 30%;
}

.adresse {
  margin-bottom: 60px;
}
.adresse input {
  height: 200%;
}

#form_adresse {
  margin-bottom: 60px;
}

.gifHomer {
  height: 350px;
}

#background {
  position: absolute;
  background: rgba(224, 220, 217, 0.65);
  width: 100%;
  height: 100%;
  margin: 0;
  display: none;
  top: 0px;
  left: 0px;
  justify-content: center;
  align-items: baseline;
  height: 1650px;
}

#modal__description--title {
  background-color: #E0DCD9;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

#modal__description--text {
  font-size: 20px;
  text-align: justify;
  font-weight: 400;
  margin-bottom: 30px;
}

#furnitureId {
  margin: 10px 0px;
}

.modal {
  display: flex;
  background-color: white;
  width: 80%;
  margin-top: 50px;
}
.modal__photo {
  width: 450px;
  height: 500px;
  margin: 80px 50px 80px 80px;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal__description {
  margin: 80px 80px 80px 0px;
}
.modal__description--price {
  display: flex;
  font-weight: 800;
  font-size: 26px;
  margin-bottom: 30px;
}
.modal__description--price p {
  margin-right: 20px;
}
.modal__description--vanish {
  display: flex;
  font-weight: 800;
  font-size: 26px;
  margin-bottom: 30px;
  align-items: center;
}
.modal__description--vanish p {
  margin-right: 20px;
}
.modal__description--quantite {
  display: flex;
  font-size: 26px;
  text-align: justify;
  font-weight: 800;
  margin-bottom: 30px;
  align-items: center;
}
.modal__description--quantite p {
  margin-right: 30px;
}
.modal__description--quantite .more, .modal__description--quantite .less {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  font-size: 60px;
  margin-right: 20px;
  cursor: pointer;
}
.modal__description--quantite .less {
  padding-bottom: 5px;
}
.modal__description--quantite .more:hover, .modal__description--quantite .less:hover {
  color: #8D5BFF;
}

#modal__close {
  margin-top: 40px;
  width: 60px;
  height: 60px;
  opacity: 0.5;
}
#modal__close:hover {
  opacity: 1;
}
#modal__close:before, #modal__close:after {
  position: absolute;
  content: " ";
  height: 45px;
  width: 5px;
  background-color: #333;
}
#modal__close:before {
  transform: rotate(45deg);
}
#modal__close:after {
  transform: rotate(-45deg);
}

.vanish {
  justify-content: center;
  align-items: center;
}

.select {
  display: flex;
  cursor: pointer;
}

#hide {
  display: none;
  cursor: pointer;
}

.custom-select {
  position: absolute;
  display: flex;
  align-items: flex-start;
  z-index: 2;
}

.custom-select select {
  display: none;
}

.custom-select p {
  font-weight: 700;
  font-size: 18px;
  margin-right: 25px;
  margin-top: 11px;
}

#conteneur {
  text-transform: uppercase;
}

.new-select {
  background-color: #E0DCD9;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  position: relative;
  width: 150px;
}

.new-select.active {
  border-radius: 5px 5px 0px 0px;
}

.new-select::after {
  border-style: solid;
  border-width: 2px 2px 0 0;
  content: "";
  height: 10px;
  position: absolute;
  right: 20px;
  transform: rotate(135deg);
  vertical-align: top;
  width: 10px;
}

.new-select.active::after {
  transform: rotate(-45deg);
}

.select-items {
  background-color: #E0DCD9;
  border-radius: 0px 0px 5px 5px;
  padding: 0px 10px 0px 10px;
  width: 150px;
}

.select-items div {
  border-top: 1px solid black;
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
}

.select-hide {
  display: none;
}

.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 0 15px;
  border-color: black transparent transparent transparent;
  margin: 0;
  cursor: pointer;
}

.addPanier, #supprProducts {
  background-color: #8F5BFD;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: white;
  font-weight: 800;
  font-size: 26px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 30px;
  border-radius: 9px;
}

#supprProducts {
  background-color: grey;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  color: white;
  font-weight: 800;
  font-size: 15px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 9px;
  margin-bottom: 30px;
}
#supprProducts:hover {
  background-color: #8D5BFF;
}

.panier {
  width: 80%;
  display: flex;
  justify-content: center;
}
.panier__contenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}
.panier__contenu--produit {
  display: flex;
  height: 230px;
  width: 515px;
  margin-bottom: 30px;
  background-color: #F8F7F6;
  align-items: center;
}
.panier__contenu--produit .photoProduit {
  -o-object-fit: cover;
     object-fit: cover;
  height: 190px;
  width: 190px;
  margin: 0px 20px;
}
.panier__contenu--produit .produit__description {
  width: 100%;
}
.panier__contenu--produit .produit__description .price {
  font-family: Raleway;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
}
.panier__contenu--produit .produit__description .title {
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.panier__contenu--produit .produit__description--quantite {
  display: flex;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}
.panier__contenu--produit .produit__description--quantite p {
  margin-right: 10px;
}
.panier__contenu .modal__close {
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
  margin: 20px 40px;
}
.panier__contenu .modal__close:before, .panier__contenu .modal__close:after {
  height: 30px;
  width: 3px;
}
.panier__contenu h1 {
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.panier__contenu .sousTotal {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
  text-transform: uppercase;
  margin: 20px 0px;
}
.panier__total {
  background-color: #F8F7F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 20%;
  margin: 60px 0px 60px 60px;
  padding: 20px;
}
.panier__total h2 {
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.panier__total--sous {
  display: flex;
  justify-content: space-between;
  width: 70%;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}
.panier__total--sous .price {
  font-size: 20px;
  font-weight: 800;
}
.panier__total--livraison {
  display: flex;
  justify-content: space-between;
  width: 70%;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}
.panier__total--livraison .price {
  font-size: 20px;
  font-weight: 800;
}
.panier .addPanier {
  padding: 10px;
  font-size: 20px;
  margin: 0px 0px 10px 0px;
}
.panier i {
  font-size: 30px;
  color: grey;
}

#erreurPrenom, #erreurNom, #erreurMail, #erreurAdresse, #erreurCity {
  display: none;
  color: red;
  text-transform: none;
  grid-column: 1/3;
  font-weight: 100;
  font-size: x-small;
  margin-top: 5px;
  width: 100%;
}

#erreurAdresse {
  margin-top: 50px;
}

#erreurConfirmation {
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  height: 400px;
}

/* index pages *//*# sourceMappingURL=styles.css.map */