/* Mixins */
/*index abstracts*/
@media (max-width: 1000px) {
  header {
    align-items: flex-start;
    flex-direction: column;
    justify-content: baseline;
    margin: 0px 25px;
    width: calc(100% - 50px);
  }
  header .logo {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 50px 0;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  header nav {
    margin: 0px;
    width: 100%;
  }
  header nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
  header nav ul #one {
    align-items: center;
    grid-column: 1/4;
    grid-row: 1/2;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
  }
  header nav ul #one a {
    font-size: 20px;
  }
  header nav ul li {
    text-align: center;
  }
  header nav ul li a {
    font-size: 15px;
  }
  header nav ul .select {
    justify-content: center;
    padding-bottom: 5px;
    width: 100%;
  }

  aside {
    display: none;
  }

  section {
    flex-direction: column;
    margin: 0px 25px;
    width: 100%;
  }
  section a {
    width: calc(100% - 50px);
  }

  #panierProduct {
    width: 100%;
  }
  #panierProduct .panier__contenu--produit {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  #panierProduct .panier__contenu--produit img {
    width: 170px;
  }

  #panierTotal {
    margin: 25px 0px;
    width: calc(100% - 20px);
  }

  #paiement {
    align-items: flex-start;
    margin-bottom: 50px;
  }
  #paiement .totalPaiement {
    font-size: 25px;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 50px);
  }

  footer {
    margin-top: 0px;
  }

  #background {
    position: absolute;
  }
  #background #furniture {
    flex-direction: column;
    height: 100%;
    margin: 0;
    width: 100%;
  }
  #background #furniture .modal__description {
    margin: 0px 25px;
  }
  #background #furniture .modal__description #modal__description--text {
    font-size: 15px;
  }
  #background #furniture .modal__description p {
    width: calc(100% - 50px);
  }
  #background #furniture .modal__description #modal__description--title {
    font-size: 30px;
    margin: 0;
    width: calc(100% - 70px);
  }
  #background #furniture .modal__description .modal__description--price, #background #furniture .modal__description .modal__description--quantite {
    font-size: 20px;
    justify-content: flex-start;
    margin: 0;
    width: calc(100% - 50px);
  }
  #background #furniture .modal__description .modal__description--price p, #background #furniture .modal__description .modal__description--quantite p {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  #background #furniture .modal__description .modal__description--price .more, #background #furniture .modal__description .modal__description--price .less, #background #furniture .modal__description .modal__description--quantite .more, #background #furniture .modal__description .modal__description--quantite .less {
    font-size: 45px;
  }
  #background #furniture .modal__description .modal__description--vanish {
    align-items: flex-start;
    flex-direction: column;
    font-size: 20px;
    justify-content: flex-start;
    width: calc(100% - 50px);
  }
  #background #furniture .modal__description .modal__description--vanish p {
    padding: 10px 0px;
  }
  #background #furniture .modal__description .modal__description--vanish .vanish {
    padding: 10px 0px;
  }
  #background #furniture #modal__close {
    margin: 0px;
    position: absolute;
    right: 20px;
    top: 10px;
  }
  #background #furniture #submitPanier {
    font-size: 15px;
    padding: 20px;
  }
  #background #furniture #modalPhoto {
    height: 150px;
    margin: 70px 25px 25px 25px;
    width: 80%;
  }

  .confirmation h1 {
    font-size: 25px;
    margin: 25px 25px;
  }

  .confirmation img {
    margin: 0px 25px;
    -o-object-fit: cover;
       object-fit: cover;
    width: calc(100% - 50px);
  }

  #confirm p {
    padding: 20px 0px;
    width: calc(100% - 50px);
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

/* index base */
/* Design des boutons du site */
.addPanier {
  background-color: #8F5BFD;
  font-size: 26px;
  padding: 30px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  color: white;
  font-weight: 800;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 9px;
}

#supprProducts {
  background-color: grey;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 30px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  color: white;
  font-weight: 800;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 9px;
}
#supprProducts:hover {
  background-color: #8D5BFF;
}

#button {
  background-color: #8D5BFF;
  font-size: 15px;
  grid-column: 1/3;
  justify-self: center;
  margin-top: 20px;
  padding: 10px 20px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  color: white;
  font-weight: 800;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 9px;
}
#button:hover {
  background-color: #B998FE;
  cursor: pointer;
}

/* index components */
/* Design footer */
footer {
  align-items: center;
  background-color: #E0DCD9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  padding: 40px 0px;
}
footer ul {
  display: flex;
  margin-bottom: 20px;
}
footer ul a {
  color: black;
  text-decoration: none;
}
footer ul a:hover {
  color: #8D5BFF;
}
footer ul li {
  font-size: 18px;
  font-weight: 500;
  margin: 0px 5px;
}
footer p {
  font-size: 18px;
  font-weight: 300;
}

/* Design du header */
header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0px 50px;
  width: calc(100% - 100px);
}
header nav {
  margin-left: 100px;
  width: calc(77.6% - 100px);
}
header nav ul {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  width: 100%;
}
header nav ul li a {
  color: black;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
header nav ul li a:hover, header nav ul .select {
  border-bottom: #E88408 solid 2px;
  color: #E88408;
}

#panier {
  border: none;
  font-weight: 800;
  text-transform: uppercase;
}
#panier:hover {
  border-bottom: none;
}

.logo {
  width: 300px;
  height: 135px;
}

#background {
  align-items: baseline;
  background: rgba(224, 220, 217, 0.65);
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  top: 0;
}

#modal__description--title {
  font-size: 36px;
  margin-bottom: 30px;
  padding: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #E0DCD9;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}

#modal__description--text {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: justify;
}

#furnitureId {
  margin: 10px 0px;
}

#modal__close {
  margin-top: 40px;
  width: 60px;
  height: 60px;
  opacity: 0.5;
}
#modal__close:hover {
  opacity: 1;
}
#modal__close:before, #modal__close:after {
  position: absolute;
  content: " ";
  height: 45px;
  width: 5px;
  background-color: #333;
}
#modal__close:before {
  transform: rotate(45deg);
}
#modal__close:after {
  transform: rotate(-45deg);
}

.modal {
  background-color: white;
  display: flex;
  margin-top: 50px;
  width: 80%;
}
.modal__photo {
  height: 500px;
  margin: 80px 50px 80px 80px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 450px;
}
.modal__description {
  margin: 80px 80px 80px 0px;
}
.modal__description--price {
  display: flex;
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 30px;
}
.modal__description--price p {
  margin-right: 20px;
}
.modal__description--vanish {
  align-items: center;
  display: flex;
  font-weight: 800;
  font-size: 26px;
  margin-bottom: 30px;
}
.modal__description--vanish p {
  margin-right: 20px;
}
.modal__description--quantite {
  align-items: center;
  display: flex;
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 30px;
  text-align: justify;
}
.modal__description--quantite p {
  margin-right: 30px;
}
.modal__description--quantite .more, .modal__description--quantite .less {
  cursor: pointer;
  font-size: 60px;
  font-weight: 700;
  margin-right: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.modal__description--quantite .less {
  padding-bottom: 5px;
}
.modal__description--quantite .more:hover, .modal__description--quantite .less:hover {
  color: #8D5BFF;
}

.vanish {
  align-items: center;
  justify-content: center;
}
.vanish .select {
  cursor: pointer;
  display: flex;
}
.vanish #hide {
  cursor: pointer;
  display: none;
}
.vanish .custom-select {
  align-items: flex-start;
  display: flex;
  position: absolute;
  z-index: 2;
}
.vanish .custom-select select {
  display: none;
}
.vanish .custom-select p {
  font-size: 18px;
  font-weight: 700;
  margin-right: 25px;
  margin-top: 11px;
}
.vanish #conteneur {
  text-transform: uppercase;
}
.vanish .new-select {
  cursor: pointer;
  background-color: #E0DCD9;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px;
  position: relative;
  width: 150px;
}
.vanish .new-select.active {
  border-radius: 5px 5px 0px 0px;
}
.vanish .new-select::after {
  content: "";
  border-style: solid;
  border-width: 2px 2px 0 0;
  height: 10px;
  position: absolute;
  right: 20px;
  transform: rotate(135deg);
  vertical-align: top;
  width: 10px;
}
.vanish .new-select.active::after {
  transform: rotate(-45deg);
}
.vanish .select-items {
  background-color: #E0DCD9;
  border-radius: 0px 0px 5px 5px;
  padding: 0px 10px 0px 10px;
  width: 150px;
}
.vanish .select-items div {
  border-top: 1px solid black;
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
}
.vanish .select-hide {
  display: none;
}
.vanish .arrow {
  border-color: black transparent transparent transparent;
  border-style: solid;
  border-width: 15px 15px 0 15px;
  cursor: pointer;
  margin: 0;
  height: 0;
  width: 0;
}

/* index layout */
/* Mise en forme de la page d'accueil */
aside {
  margin: 0px 50px;
}
aside .banniere {
  height: 330px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
aside p {
  font-size: 36px;
  position: absolute;
  right: 175px;
  top: 186px;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}

section {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 20px 20px 70px;
  width: calc(100% - 90px);
}
section a {
  color: black;
  margin-right: 70px;
  text-decoration: none;
  width: calc(33.33% - 70px);
}

.produit {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  position: relative;
  width: 100%;
}
.produit .title {
  font-size: 24px;
  padding: 10px 0px;
  position: absolute;
  text-align: center;
  top: -30px;
  width: 248px;
  background-color: #E0DCD9;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}
.produit .photo {
  height: 290px;
  -o-object-fit: cover;
     object-fit: cover;
  width: calc(100% - 50px);
}
.produit ul {
  display: flex;
  justify-content: flex-start;
  width: calc(100% - 50px);
}
.produit ul li {
  background-color: #E0DCD9;
  border-radius: 9px;
  font-size: 14px;
  margin-right: 5px;
  margin-top: 10px;
  padding: 7px;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}
.produit .description {
  align-items: center;
  display: flex;
  width: calc(100% - 50px);
}
.produit .description__text {
  font-size: 14px;
  font-weight: 400;
  height: 30px;
  margin-right: 10px;
  margin-top: 10px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.produit .description__price {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 30px;
}

.produit:hover {
  transform: scale(1.01);
}
.produit:hover p, .produit:hover li {
  color: #8D5BFF;
}

.panier {
  display: flex;
  justify-content: center;
  width: 80%;
}
.panier__contenu {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 40%;
}
.panier__contenu--produit {
  align-items: center;
  background-color: #E0DCD9;
  display: flex;
  height: 230px;
  margin-bottom: 30px;
  width: 515px;
}
.panier__contenu--produit .photoProduit {
  height: 190px;
  margin: 0px 20px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 190px;
}
.panier__contenu--produit .produit__description {
  width: 100%;
}
.panier__contenu--produit .produit__description .price {
  font-family: Raleway;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
}
.panier__contenu--produit .produit__description .title {
  font-size: 20px;
  margin-bottom: 20px;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}
.panier__contenu--produit .produit__description--quantite {
  display: flex;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}
.panier__contenu--produit .produit__description--quantite p {
  margin-right: 10px;
}
.panier__contenu h1 {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.panier__contenu .sousTotal {
  display: flex;
  font-size: 30px;
  justify-content: space-between;
  margin: 20px 0px;
  width: 100%;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}
.panier__total {
  align-items: center;
  background-color: #E0DCD9;
  display: flex;
  flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: center;
  margin: 60px 0px 60px 60px;
  padding: 20px;
  width: 20%;
}
.panier__total h2 {
  font-size: 30px;
  margin-bottom: 30px;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}
.panier__total--sous {
  display: flex;
  font-size: 20px;
  font-weight: 400;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 70%;
}
.panier__total--sous .price {
  font-size: 20px;
  font-weight: 800;
}
.panier__total--livraison {
  display: flex;
  font-size: 20px;
  font-weight: 400;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 70%;
}
.panier__total--livraison .price {
  font-size: 20px;
  font-weight: 800;
}
.panier .addPanier {
  font-size: 20px;
  margin: 0px 0px 10px 0px;
  padding: 10px;
}
.panier i {
  font-size: 30px;
  color: grey;
}

.payer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.payer .totalPaiement {
  display: flex;
  font-size: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.payer .totalPaiement h1 {
  font-weight: 800;
  margin-right: 20px;
}
.payer .form {
  background-color: #E0DCD9;
  font-size: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}
.payer .form .form-example {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr;
  margin: 30px;
}
.payer .form .form-example label {
  margin-right: 20px;
}
.payer .form .form-example input {
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 5px;
}
.payer .form .adresse {
  margin-bottom: 60px;
}
.payer .form .adresse input {
  height: 200%;
}
.payer .form #form_adresse {
  margin-bottom: 60px;
}
.payer .form #erreurPrenom, .payer .form #erreurNom, .payer .form #erreurMail, .payer .form #erreurAdresse, .payer .form #erreurCity {
  color: red;
  display: none;
  font-size: x-small;
  font-weight: 100;
  grid-column: 1/3;
  margin-top: 5px;
  text-transform: none;
  width: 100%;
}
.payer .form #erreurAdresse {
  margin-top: 50px;
}
.payer .form #erreurConfirmation {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: x-large;
  height: 400px;
  justify-content: center;
  margin-bottom: 50px;
}

.confirmation {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.confirmation h1 {
  font-size: 36px;
  font-weight: 800;
  margin: 20px 0px;
}
.confirmation p {
  font-size: 20px;
  font-weight: 400;
  margin: 0px 0px;
}
.confirmation .gifHomer {
  height: 350px;
}

/* index pages *//*# sourceMappingURL=styles.css.map */